* {
    margin: 0;
    padding: 0;
    position: relative
}

* {
    cursor: none;
    -moz-user-select: none;
    user-select: none;
    -webkit-user-select: none;
    z-index: 2;
}

body {
    height: 100vh;
    width: 100vw;
    font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Arial, sans-serif;
}


#cursor {
    opacity: 0;
    margin-top: -2px;
    margin-left: -2px;
    position: fixed;
    z-index: 2;
    pointer-events: none;
}

.-mountain, .-valley {
    display: block;
    width: 88px;
    height: 88px;
    border-radius: 64px;
    background: rgba(0,0,0,0.6);
    text-align: center;
    line-height: 88px;
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
    font-size: 12px;
    pointer-events: none;
    font-weight: 500;
    color: rgba(255,255,255,0.7);
}

/* set position for mountains */
.-alt1 {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: 190px;
}

.-alt3 {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: 80px;
    margin-left: -90px;
}

.-alt5 {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: 25px;
    margin-left: 510px;
}

/* set position for valleys */

.-alt2 {
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: 105px;
    margin-top: 160px;
}

.-alt4 {
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -270px;
    margin-top: -260px;
}

.-alt6 {
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -330px;
    margin-top: 100px;
}

.-alt8 {
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -550px;
    margin-top: -170px;
}



/* for Google Map */
#map {
    position:absolute;
    bottom: 0;
    width: 100%;
    height: 99.99%;
}

