* {
    margin: 0;
    padding: 0;
    position: relative
}

* {
    cursor: none;
    -moz-user-select: none;
    user-select: none;
    -webkit-user-select: none;
    z-index: 2;
}

body {
    height: 100vh;
    width: 100vw;
    font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Arial, sans-serif;
}

.switch {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 148px;
    height: 42px;
    font-size: 15px;
    text-align: center;
    line-height: 42px;
    text-transform: uppercase;
    background-color: #fff;
    color: #646464;
    border-radius: 2px;
}
.switch {
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0.2s;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.36);
}



#cursor {
    opacity: 0;
    margin-top: -2px;
    margin-left: -2px;
    position: fixed;
    z-index: 2;
    pointer-events: none;
}

.label {
    display: block;
    width: 88px;
    height: 88px;
    border-radius: 64px;
    background: rgba(0,0,0,0.6);
    text-align: center;
    line-height: 88px;
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
    font-size: 12px;
    pointer-events: none;
    font-weight: 500;
    color: rgba(255,255,255,0.7);
/*    opacity: 0;*/
}

/* set position for mountains */
.-alt1 {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: 190px;
}

.-alt3 {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: 80px;
    margin-left: -90px;
}

.-alt5 {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: 25px;
    margin-left: 510px;
}

.-alt7 {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: 210px;
    margin-left: -440px;
}

.-alt9 {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: 65px;
    margin-left: 105px;
}

.-alt11 {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: 260px;
    margin-left: 185px;
}

/* set position for valleys */

.-alt2 {
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: 270px;
    margin-top: 30px;
}

.-alt4 {
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -270px;
    margin-top: -260px;
}

.-alt6 {
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -330px;
    margin-top: 100px;
}

.-alt8 {
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -550px;
    margin-top: -170px;
}




/* for Google Map */
#map {
    position:absolute;
    bottom: 0;
    width: 100%;
    height: 99.99%;
}

